@{
    ViewData["Title"] = "How To Buy";
}

    <section class="search-wrapper pl-md-5 pl-lg-5 pl-0 pr-lg-5 pr-md-5 pr-0">
    <div class="w-100 mb-3" >
        @Html.Partial("_StockTabs")
        </div>
        <div class="row mt-2 ml-3 ">
            <div class="col-12 col-lg-8 px-0 px-lg-3">
                <h3 class="heading mb-4">4 Easy Steps to buy car & Vehicle from Our Stock</h3>
                <p class="mt-1 mb-4">
                    Excellent Quality & Well Inspected Cars, Vans, Trucks, Buses & Construction
                    Machinery available in stock ready to Export.
                </p>
            </div>
            <div class="col-12 col-lg-4 px-0 px-lg-3">
                <div class="col px-0 text-set text-set01 ">
                <a asp-area="Customer" asp-controller="Stock" asp-action="Index" class="btn globalbtn globalbtn-buy w-100 " style="--btn-bg:#d60000!important;height: 60px!important;">BUY NOW USED & NEW CARS STOCK</a>
                </div>
            </div>
        </div>

    <div class="row mt-3 ml-3 border-bottom-custom6" style="border-bottom: 1px solid #000;">
        <div class="col-12 col-md-6 px-0 px-md-3" style="border-bottom: 1px solid #000;">
            <h3 class="heading my-4" >
                    <span style="color: #d60000;">STEP 1:</span>
                </h3>
                <h4 class="heading-set4 my-4">
                    Find your desired car from our site<br>or the auction.
                </h4>
                <p class="mt-1 mb-5 ">
                    If you are unable to find your desired vehicle, kindly
                    <a asp-area="Customer" asp-controller="Contact" asp-action="Index"><span style="color: #d60000;">inform us</span></a>.
                    We can locate a vehicle that meets your requirements, either from
                    the Dealers' stock in Japan or from the Japan Auction.
                </p>
            </div>
            <div class="col-12 col-md-6 px-0 px-md-3 text-set">
                <img src="../images/how_to_buy/lcd.png" alt="lcd" class="lcd-img " height="300" />
            </div>
        </div>
    <div class="row mt-3 ml-3 border-bottom-custom6" style="border-bottom: 1px solid #000;">
            <div class="col-12 col-md-6 px-0 px-md-3">
                <h3 class="heading my-4">
                    <span style="color: #d60000;">STEP 2:</span>
                </h3>
                <h4 class="heading-set4 my-4">
                    After selecting a car from the stock, review the vehicle details and photos. Then,
                    complete the form provided and email it to us,<br>
                or contact us via <a href="https://wa.me/819018762811" target="_blank"><span style="color: #d60000;">Whatsapp.</span></a>
                </h4>
                <p class="mt-1 mb-5 ">
                    Our experienced staff will assist you with purchasing the vehicle
                    of your choice from our stock or Japanese auctions.
                </p>
            </div>
            <div class="col-12 col-md-6 px-0 px-md-3 text-set">
                <img src="../images/how_to_buy/3d_car.png" alt="car3d" class="car-img " height="300" />
            </div>
        </div>
    <div class="row mt-3 ml-3 border-bottom-custom6 " style="border-bottom: 1px solid #000;">
            <div class="col-12 col-md-6 px-0 px-md-3">
                <h3 class="heading my-4">
                    <span style="color: #d60000;">STEP 3:</span>
                </h3>
                <h4 class="heading-set4 my-4">
                    For making payments, refer to our bank account details provided below.  
                </h4>
                <p class="mt-1 mb-5 ">
                    Once you receive the Proforma invoice, cross-check the account details as per the website.
                </p>
            </div>
            <div class="col-12 col-md-6 px-0 px-md-3 text-set text-set0">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="head1" style="color: white;">Account Holder</th>
                            <th class="head2" style="color: white;">YRT Japan LTD</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="custom-bg-light">Account Title</td>
                            <td class="custom-bg-secondary">YR TRADING CO. LTD</td>
                        </tr>
                        <tr>
                            <td class="custom-bg-secondary">Account No</td>
                            <td class="custom-bg-light">4086400</td>
                        </tr>
                        <tr>
                            <td class="custom-bg-light">Bank Name</td>
                            <td class="custom-bg-secondary">SUMITOMO MITSUI BANKING CORPORATION</td>
                        </tr>
                        <tr>
                            <td class="custom-bg-secondary">Bank Branch</td>
                            <td class="custom-bg-light">OTA Branch</td>
                        </tr>
                        <tr>
                            <td class="custom-bg-light">Swift Code</td>
                            <td class="custom-bg-secondary">
                                SMBCJPJT
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="col-12">
                <p class="mt-4 mb-5 ">
                    Kindly note that YRT is not responsible for payments made to any account other than the one listed on our website.
                    Once the payment is confirmed, we will arrange the shipment in the first vessel available.
                    Our Sales team or CSD will keep you updated on every single step.

                </p>
            </div>
        </div>

    <div class="row mt-3 ml-3 pb-5 border-bottom-custom6" style="border-bottom: 1px solid #000;">
            <div class="col-12 col-md-6 px-0 px-md-3">
                <h3 class="heading my-4">
                <span style="color: #d60000;" >STEP 4:</span>
                </h3>
                <h4 class="heading-set4 heading-set04 my-4 ">
                    Receive the relevant documents.
                </h4>
                <p class="mt-1 mb-4 ">
                    YRT Japan Co. Ltd will dispatch the following documents once the ship departs from Japan.
                    These documents will be delivered to the address provided by the buyer through Express Mail or Courier.
                </p>

                <h5 class="heading-set4 heading-set05  ">
                    List of the Documents
                </h5>
                <ul style="list-style-type: disc; color: #000;">
                    <li>Bill of Landing</li>
                    <li>Invoice</li>
                    <li>Export Certificate / De-registration Certificate</li>
                    <li>Translation of Export Certificate (On request)</li>
                    <li>Insurance Certificate or Letter (Only for those who requested Insurance)</li>
                </ul>
                <p class="mt-3 mb-4 ">
                    Depending on the country, YRT can also assist you with customs clearance at the destination port.
                </p>
            </div>
            <div class="col-12 col-md-6 px-0 px-md-3 text-set">
                <img src="../images/how_to_buy/profile.png" alt="car3d" class="car-img  mt-3" height="300" />
            </div>
        </div>



    <div class="w-100 text-center mb-5 px-lg-5 px-md-5 pr-4 d-flex justify-content-between flex-wrap">
        <a asp-area="Customer" asp-controller="Contact" asp-action="Index" style="--btn-bg:#D60000"
           class="btn globalbtn w-100 d-flex align-items-center justify-content-center mt-2">Contact Us</a>
        <a asp-area="Customer" asp-controller="WhyYrt" asp-action="Index" style="--btn-bg:#D60000"
           class="btn globalbtn w-100 d-flex align-items-center justify-content-center mt-2">
            Why Choose
            US
        </a>

        <a asp-area="Customer" asp-controller="OurStaff" asp-action="Index" style="--btn-bg:#D60000"
           class="btn globalbtn w-100 d-flex align-items-center justify-content-center mt-2 ">Our Staff</a>

    </div>
</section>