<section class="search-wrapper my-5 py-5 pl-4 pl-lg-5 pl-md-5 pr-lg-5 pr-md-5  pr-4">
    <div class="w-100">
        @Html.Partial("_StockTabs")
    </div>
    <div class="w-100 d-flex flex-sm-row flex-lg-row flex-md-row flex-column justify-content-center">
        <div class="col-12 col-md-9 col-sm-6 col-lg-9 px-0">
            <p class="mt-1 mb-4 border-0 mx-auto">
                YRT Japan, is for you to know an approximate freight,
                for example from Yokohama, Japan. The total amount can be figured with the following two charts.
                Cubic Meter (m3) of the Car Size times the Shipping Rate will be the freight.
            </p>
        </div>
        <div class="col-12 col-md-3 col-sm-5 col-lg-3 px-0 px-sm-3 mt-2">
            <a href="" class="mx-auto btn btn-theme mb-5">
                <p class="mb-0 px-3" style="font-size: 14px; font-weight: bold;">
                    buy now used & new
                    cars stock
                </p>
            </a>
        </div>
    </div>
    <div class="w-100 d-flex flex-sm-column flex-lg-row flex-md-row flex-column justify-content-center">
        <div class="col-12 col-md-6 col-sm-12 col-lg-6 px-0 px-sm-3">
            <p class="mt-1 mb-4 border-0">
                <span class="exampletext">Example - 1 :</span> Toyota
                Corolla shipped to Dar Es Salaam, Tanzania.
                11m3 X US$115 = US$1265
            </p>
        </div>
        <div class="col-12 col-md-6 col-sm-12 col-lg-6 px-0 px-sm-3">
            <p class="mt-1 mb-4 border-0">
                <span class="exampletext">Example - 2 :</span> Toyota
                Corolla shipped to Dar Es Salaam, Tanzania.
                11m3 X US$115 = US$1265
            </p>
        </div>
    </div>

    <div class="px-md-2 px-lg-2">
        <table class="table vehicle bank-table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th class="head1 text-center ">Size of Vehicle</th>
                    <th class="head2 text-center">Car's name (Examples)</th>
                    <th class="head1 text-center">Cubic Meter (m<sup>3</sup>)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="custom-bg-secondary text-center">
                        Small
                    </td>
                    <td class="custom-bg-light text-center">
                        Starlet / MR2 / March etc.
                    </td>
                    <td class="custom-bg-secondary text-center">
                        9 m<sup>3</sup>
                    </td>
                </tr>
                <tr>
                    <td class="custom-bg-light text-center">
                        Small
                    </td>
                    <td class="custom-bg-secondary text-center">
                        Starlet / MR2 / March etc.
                    </td>
                    <td class="custom-bg-light text-center">
                        9 m<sup>3</sup>
                    </td>
                </tr>
                <tr>
                    <td class="custom-bg-secondary text-center">
                        Small
                    </td>
                    <td class="custom-bg-light text-center">
                        Starlet / MR2 / March etc.
                    </td>
                    <td class="custom-bg-secondary text-center">
                        9 m<sup>3</sup>
                    </td>
                </tr>
                <tr>
                    <td class="custom-bg-light text-center">
                        Small
                    </td>
                    <td class="custom-bg-secondary text-center">
                        Starlet / MR2 / March etc.
                    </td>
                    <td class="custom-bg-light text-center">
                        9 m<sup>3</sup>
                    </td>
                </tr>
                <tr>
                    <td class="custom-bg-secondary text-center">
                        Small
                    </td>
                    <td class="custom-bg-light text-center">
                        Starlet / MR2 / March etc.
                    </td>
                    <td class="custom-bg-secondary text-center">
                        9 m<sup>3</sup>
                    </td>
                </tr>
                <tr>
                    <td class="custom-bg-light text-center">
                        Small
                    </td>
                    <td class="custom-bg-secondary text-center">
                        Starlet / MR2 / March etc.
                    </td>
                    <td class="custom-bg-light text-center">
                        9 m<sup>3</sup>
                    </td>
                </tr>
                <tr>
                    <td class="custom-bg-secondary text-center">
                        Small
                    </td>
                    <td class="custom-bg-light text-center">
                        Starlet / MR2 / March etc.
                    </td>
                    <td class="custom-bg-secondary text-center">
                        9 m<sup>3</sup>
                    </td>
                </tr>
                <tr>
                    <td class="custom-bg-light text-center">
                        Small
                    </td>
                    <td class="custom-bg-secondary text-center">
                        Starlet / MR2 / March etc.
                    </td>
                    <td class="custom-bg-light text-center">
                        9 m<sup>3</sup>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>

    <div class="mx-2 pt-4 mb-2" style="border-bottom: 1px solid black"></div>

    <div class="w-100">
        <div class="col-12 col-md-12 col-sm-12 col-lg-12 px-0 px-sm-3 px-md-0 px-lg-0 table-responsive-mobile">
            <table class="table vehicle bank-table table-bordered gap-table">
                <thead class="thead-dark">
                    <tr>
                        <th class="head1 text-center ">Country</th>
                        <th class="head2 text-center">Port</th>
                        <th class="head1 text-center">0-14 m<sup>3</sup></th>
                        <th class="head2 text-center">14-20 m<sup>3</sup></th>
                        <th class="head1 text-center">Container Rate</th>
                        <th class="head2 text-center">Frequency</th>
                        <th class="head1 text-center">Ship Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="custom-bg-secondary text-center head3">Country</td>
                        <td class="custom-bg-light text-center head3">Port</td>
                        <td class="custom-bg-secondary text-center head3">0-14 m<sup>3</sup></td>
                        <td class="custom-bg-light text-center head3">14-20 m<sup>3</sup></td>
                        <td class="custom-bg-secondary text-center head3">Container Rate</td>
                        <td class="custom-bg-light text-center head3">Frequency</td>
                        <td class="custom-bg-secondary text-center head3">Ship Time</td>
                    </tr>
                    <tr>
                        <td class="custom-bg-secondary text-center head3">Country</td>
                        <td class="custom-bg-light text-center head3">Port</td>
                        <td class="custom-bg-secondary text-center head3">0-14 m<sup>3</sup></td>
                        <td class="custom-bg-light text-center head3">14-20 m<sup>3</sup></td>
                        <td class="custom-bg-secondary text-center head3">Container Rate</td>
                        <td class="custom-bg-light text-center head3">Frequency</td>
                        <td class="custom-bg-secondary text-center head3">Ship Time</td>
                    </tr>
                    <tr>
                        <td class="custom-bg-secondary text-center head3">Country</td>
                        <td class="custom-bg-light text-center head3">Port</td>
                        <td class="custom-bg-secondary text-center head3">0-14 m<sup>3</sup></td>
                        <td class="custom-bg-light text-center head3">14-20 m<sup>3</sup></td>
                        <td class="custom-bg-secondary text-center head3">Container Rate</td>
                        <td class="custom-bg-light text-center head3">Frequency</td>
                        <td class="custom-bg-secondary text-center head3">Ship Time</td>
                    </tr>
                    <tr>
                        <td class="custom-bg-secondary text-center head3">Country</td>
                        <td class="custom-bg-light text-center head3">Port</td>
                        <td class="custom-bg-secondary text-center head3">0-14 m<sup>3</sup></td>
                        <td class="custom-bg-light text-center head3">14-20 m<sup>3</sup></td>
                        <td class="custom-bg-secondary text-center head3">Container Rate</td>
                        <td class="custom-bg-light text-center head3">Frequency</td>
                        <td class="custom-bg-secondary text-center head3">Ship Time</td>
                    </tr>
                    <tr>
                        <td class="custom-bg-secondary text-center head3">Country</td>
                        <td class="custom-bg-light text-center head3">Port</td>
                        <td class="custom-bg-secondary text-center head3">0-14 m<sup>3</sup></td>
                        <td class="custom-bg-light text-center head3">14-20 m<sup>3</sup></td>
                        <td class="custom-bg-secondary text-center head3">Container Rate</td>
                        <td class="custom-bg-light text-center head3">Frequency</td>
                        <td class="custom-bg-secondary text-center head3">Ship Time</td>
                    </tr>
                    <tr>
                        <td class="custom-bg-secondary text-center head3">Country</td>
                        <td class="custom-bg-light text-center head3">Port</td>
                        <td class="custom-bg-secondary text-center head3">0-14 m<sup>3</sup></td>
                        <td class="custom-bg-light text-center head3">14-20 m<sup>3</sup></td>
                        <td class="custom-bg-secondary text-center head3">Container Rate</td>
                        <td class="custom-bg-light text-center head3">Frequency</td>
                        <td class="custom-bg-secondary text-center head3">Ship Time</td>
                    </tr>
                    <tr>
                        <td class="custom-bg-secondary text-center head3">Country</td>
                        <td class="custom-bg-light text-center head3">Port</td>
                        <td class="custom-bg-secondary text-center head3">0-14 m<sup>3</sup></td>
                        <td class="custom-bg-light text-center head3">14-20 m<sup>3</sup></td>
                        <td class="custom-bg-secondary text-center head3">Container Rate</td>
                        <td class="custom-bg-light text-center head3">Frequency</td>
                        <td class="custom-bg-secondary text-center head3">Ship Time</td>
                    </tr>
                    <tr>
                        <td class="custom-bg-secondary text-center head3">Country</td>
                        <td class="custom-bg-light text-center head3">Port</td>
                        <td class="custom-bg-secondary text-center head3">0-14 m<sup>3</sup></td>
                        <td class="custom-bg-light text-center head3">14-20 m<sup>3</sup></td>
                        <td class="custom-bg-secondary text-center head3">Container Rate</td>
                        <td class="custom-bg-light text-center head3">Frequency</td>
                        <td class="custom-bg-secondary text-center head3">Ship Time</td>
                    </tr>
                    <tr>
                        <td class="custom-bg-secondary text-center head3">Country</td>
                        <td class="custom-bg-light text-center head3">Port</td>
                        <td class="custom-bg-secondary text-center head3">0-14 m<sup>3</sup></td>
                        <td class="custom-bg-light text-center head3">14-20 m<sup>3</sup></td>
                        <td class="custom-bg-secondary text-center head3">Container Rate</td>
                        <td class="custom-bg-light text-center head3">Frequency</td>
                        <td class="custom-bg-secondary text-center head3">Ship Time</td>
                    </tr>
                    <tr>
                        <td class="custom-bg-secondary text-center head3">Country</td>
                        <td class="custom-bg-light text-center head3">Port</td>
                        <td class="custom-bg-secondary text-center head3">0-14 m<sup>3</sup></td>
                        <td class="custom-bg-light text-center head3">14-20 m<sup>3</sup></td>
                        <td class="custom-bg-secondary text-center head3">Container Rate</td>
                        <td class="custom-bg-light text-center head3">Frequency</td>
                        <td class="custom-bg-secondary text-center head3">Ship Time</td>
                    </tr>
                    <tr>
                        <td class="custom-bg-secondary text-center head3">Country</td>
                        <td class="custom-bg-light text-center head3">Port</td>
                        <td class="custom-bg-secondary text-center head3">0-14 m<sup>3</sup></td>
                        <td class="custom-bg-light text-center head3">14-20 m<sup>3</sup></td>
                        <td class="custom-bg-secondary text-center head3">Container Rate</td>
                        <td class="custom-bg-light text-center head3">Frequency</td>
                        <td class="custom-bg-secondary text-center head3">Ship Time</td>
                    </tr>
                    <tr>
                        <td class="custom-bg-secondary text-center head3">Country</td>
                        <td class="custom-bg-light text-center head3">Port</td>
                        <td class="custom-bg-secondary text-center head3">0-14 m<sup>3</sup></td>
                        <td class="custom-bg-light text-center head3">14-20 m<sup>3</sup></td>
                        <td class="custom-bg-secondary text-center head3">Container Rate</td>
                        <td class="custom-bg-light text-center head3">Frequency</td>
                        <td class="custom-bg-secondary text-center head3">Ship Time</td>
                    </tr>
                    <tr>
                        <td class="custom-bg-secondary text-center head3">Country</td>
                        <td class="custom-bg-light text-center head3">Port</td>
                        <td class="custom-bg-secondary text-center head3">0-14 m<sup>3</sup></td>
                        <td class="custom-bg-light text-center head3">14-20 m<sup>3</sup></td>
                        <td class="custom-bg-secondary text-center head3">Container Rate</td>
                        <td class="custom-bg-light text-center head3">Frequency</td>
                        <td class="custom-bg-secondary text-center head3">Ship Time</td>
                    </tr>
                    <tr>
                        <td class="custom-bg-secondary text-center head3">Country</td>
                        <td class="custom-bg-light text-center head3">Port</td>
                        <td class="custom-bg-secondary text-center head3">0-14 m<sup>3</sup></td>
                        <td class="custom-bg-light text-center head3">14-20 m<sup>3</sup></td>
                        <td class="custom-bg-secondary text-center head3">Container Rate</td>
                        <td class="custom-bg-light text-center head3">Frequency</td>
                        <td class="custom-bg-secondary text-center head3">Ship Time</td>
                    </tr>
                    <tr>
                        <td class="custom-bg-secondary text-center head3">Country</td>
                        <td class="custom-bg-light text-center head3">Port</td>
                        <td class="custom-bg-secondary text-center head3">0-14 m<sup>3</sup></td>
                        <td class="custom-bg-light text-center head3">14-20 m<sup>3</sup></td>
                        <td class="custom-bg-secondary text-center head3">Container Rate</td>
                        <td class="custom-bg-light text-center head3">Frequency</td>
                        <td class="custom-bg-secondary text-center head3">Ship Time</td>
                    </tr>
                    <tr>
                        <td class="custom-bg-secondary text-center head3">Country</td>
                        <td class="custom-bg-light text-center head3">Port</td>
                        <td class="custom-bg-secondary text-center head3">0-14 m<sup>3</sup></td>
                        <td class="custom-bg-light text-center head3">14-20 m<sup>3</sup></td>
                        <td class="custom-bg-secondary text-center head3">Container Rate</td>
                        <td class="custom-bg-light text-center head3">Frequency</td>
                        <td class="custom-bg-secondary text-center head3">Ship Time</td>
                    </tr>
                    <tr>
                        <td class="custom-bg-secondary text-center head3">Country</td>
                        <td class="custom-bg-light text-center head3">Port</td>
                        <td class="custom-bg-secondary text-center head3">0-14 m<sup>3</sup></td>
                        <td class="custom-bg-light text-center head3">14-20 m<sup>3</sup></td>
                        <td class="custom-bg-secondary text-center head3">Container Rate</td>
                        <td class="custom-bg-light text-center head3">Frequency</td>
                        <td class="custom-bg-secondary text-center head3">Ship Time</td>
                    </tr>
                    <tr>
                        <td class="custom-bg-secondary text-center head3">Country</td>
                        <td class="custom-bg-light text-center head3">Port</td>
                        <td class="custom-bg-secondary text-center head3">0-14 m<sup>3</sup></td>
                        <td class="custom-bg-light text-center head3">14-20 m<sup>3</sup></td>
                        <td class="custom-bg-secondary text-center head3">Container Rate</td>
                        <td class="custom-bg-light text-center head3">Frequency</td>
                        <td class="custom-bg-secondary text-center head3">Ship Time</td>
                    </tr>
                    <tr>
                        <td class="custom-bg-secondary text-center head3">Country</td>
                        <td class="custom-bg-light text-center head3">Port</td>
                        <td class="custom-bg-secondary text-center head3">0-14 m<sup>3</sup></td>
                        <td class="custom-bg-light text-center head3">14-20 m<sup>3</sup></td>
                        <td class="custom-bg-secondary text-center head3">Container Rate</td>
                        <td class="custom-bg-light text-center head3">Frequency</td>
                        <td class="custom-bg-secondary text-center head3">Ship Time</td>
                    </tr>
                    <tr>
                        <td class="custom-bg-secondary text-center head3">Country</td>
                        <td class="custom-bg-light text-center head3">Port</td>
                        <td class="custom-bg-secondary text-center head3">0-14 m<sup>3</sup></td>
                        <td class="custom-bg-light text-center head3">14-20 m<sup>3</sup></td>
                        <td class="custom-bg-secondary text-center head3">Container Rate</td>
                        <td class="custom-bg-light text-center head3">Frequency</td>
                        <td class="custom-bg-secondary text-center head3">Ship Time</td>
                    </tr>
                    <tr>
                        <td class="custom-bg-secondary text-center head3">Country</td>
                        <td class="custom-bg-light text-center head3">Port</td>
                        <td class="custom-bg-secondary text-center head3">0-14 m<sup>3</sup></td>
                        <td class="custom-bg-light text-center head3">14-20 m<sup>3</sup></td>
                        <td class="custom-bg-secondary text-center head3">Container Rate</td>
                        <td class="custom-bg-light text-center head3">Frequency</td>
                        <td class="custom-bg-secondary text-center head3">Ship Time</td>
                    </tr>
                    <tr>
                        <td class="custom-bg-secondary text-center head3">Country</td>
                        <td class="custom-bg-light text-center head3">Port</td>
                        <td class="custom-bg-secondary text-center head3">0-14 m<sup>3</sup></td>
                        <td class="custom-bg-light text-center head3">14-20 m<sup>3</sup></td>
                        <td class="custom-bg-secondary text-center head3">Container Rate</td>
                        <td class="custom-bg-light text-center head3">Frequency</td>
                        <td class="custom-bg-secondary text-center head3">Ship Time</td>
                    </tr>
                    <tr>
                        <td class="custom-bg-secondary text-center head3">Country</td>
                        <td class="custom-bg-light text-center head3">Port</td>
                        <td class="custom-bg-secondary text-center head3">0-14 m<sup>3</sup></td>
                        <td class="custom-bg-light text-center head3">14-20 m<sup>3</sup></td>
                        <td class="custom-bg-secondary text-center head3">Container Rate</td>
                        <td class="custom-bg-light text-center head3">Frequency</td>
                        <td class="custom-bg-secondary text-center head3">Ship Time</td>
                    </tr>
                    <tr>
                        <td class="custom-bg-secondary text-center head3">Country</td>
                        <td class="custom-bg-light text-center head3">Port</td>
                        <td class="custom-bg-secondary text-center head3">0-14 m<sup>3</sup></td>
                        <td class="custom-bg-light text-center head3">14-20 m<sup>3</sup></td>
                        <td class="custom-bg-secondary text-center head3">Container Rate</td>
                        <td class="custom-bg-light text-center head3">Frequency</td>
                        <td class="custom-bg-secondary text-center head3">Ship Time</td>
                    </tr>
                    <tr>
                        <td class="custom-bg-secondary text-center head3">Country</td>
                        <td class="custom-bg-light text-center head3">Port</td>
                        <td class="custom-bg-secondary text-center head3">0-14 m<sup>3</sup></td>
                        <td class="custom-bg-light text-center head3">14-20 m<sup>3</sup></td>
                        <td class="custom-bg-secondary text-center head3">Container Rate</td>
                        <td class="custom-bg-light text-center head3">Frequency</td>
                        <td class="custom-bg-secondary text-center head3">Ship Time</td>
                    </tr>
                    <tr>
                        <td class="custom-bg-secondary text-center head3">Country</td>
                        <td class="custom-bg-light text-center head3">Port</td>
                        <td class="custom-bg-secondary text-center head3">0-14 m<sup>3</sup></td>
                        <td class="custom-bg-light text-center head3">14-20 m<sup>3</sup></td>
                        <td class="custom-bg-secondary text-center head3">Container Rate</td>
                        <td class="custom-bg-light text-center head3">Frequency</td>
                        <td class="custom-bg-secondary text-center head3">Ship Time</td>
                    </tr>
                    <tr>
                        <td class="custom-bg-secondary text-center head3">Country</td>
                        <td class="custom-bg-light text-center head3">Port</td>
                        <td class="custom-bg-secondary text-center head3">0-14 m<sup>3</sup></td>
                        <td class="custom-bg-light text-center head3">14-20 m<sup>3</sup></td>
                        <td class="custom-bg-secondary text-center head3">Container Rate</td>
                        <td class="custom-bg-light text-center head3">Frequency</td>
                        <td class="custom-bg-secondary text-center head3">Ship Time</td>
                    </tr>
                    <tr>
                        <td class="custom-bg-secondary text-center head3">Country</td>
                        <td class="custom-bg-light text-center head3">Port</td>
                        <td class="custom-bg-secondary text-center head3">0-14 m<sup>3</sup></td>
                        <td class="custom-bg-light text-center head3">14-20 m<sup>3</sup></td>
                        <td class="custom-bg-secondary text-center head3">Container Rate</td>
                        <td class="custom-bg-light text-center head3">Frequency</td>
                        <td class="custom-bg-secondary text-center head3">Ship Time</td>
                    </tr>
                    <tr>
                        <td class="custom-bg-secondary text-center head3">Country</td>
                        <td class="custom-bg-light text-center head3">Port</td>
                        <td class="custom-bg-secondary text-center head3">0-14 m<sup>3</sup></td>
                        <td class="custom-bg-light text-center head3">14-20 m<sup>3</sup></td>
                        <td class="custom-bg-secondary text-center head3">Container Rate</td>
                        <td class="custom-bg-light text-center head3">Frequency</td>
                        <td class="custom-bg-secondary text-center head3">Ship Time</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>



    <div class="w-100">
        <div class="col-12 col-md-12 col-sm-12 col-lg-12 px-0 px-lg-0 px-md-0 px-sm-3">
            <p class="mt-1 mb-5 border-bottom-custom2">
            </p>
        </div>
    </div>



    <div class="w-100 text-center mb-5 px-lg-5 px-md-5 px-0 d-flex justify-content-between flex-wrap">
        <a href="contact.html" style="--btn-bg:#D60000"
           class="btn globalbtn w-100 d-flex align-items-center justify-content-center mt-2">Contact Us</a>
        <a href="#" style="--btn-bg:#D60000"
           class="btn globalbtn w-100 d-flex align-items-center justify-content-center mt-2">Why Choose US</a>

        <a href="ourstaff.html" style="--btn-bg:#D60000"
           class="btn globalbtn w-100 d-flex align-items-center justify-content-center mt-2 ">Our Staff</a>

    </div>


</section>