<div class="loader" id="customLoader" style="display: none;">
    <div class="loader-content">
        <svg class="loaderCar" width="102" height="40" xmlns="http://www.w3.org/2000/svg">
            <g transform="translate(2 1)" stroke="#002742" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                <path class="car__body" d="M10,30 Q25,10 75,10 Q90,10 95,30" stroke-width="3"></path>
                <circle class="car__wheel--left" cx="30" cy="30" r="5" fill="#FFF" stroke="#002742" stroke-width="3"></circle>
                <circle class="car__wheel--right" cx="80" cy="30" r="5" fill="#FFF" stroke="#002742" stroke-width="3"></circle>
                <path d="M15 20 L30 20" stroke="#002742" stroke-width="2"></path>
                <path d="M70 20 L85 20" stroke="#002742" stroke-width="2"></path>
            </g>
        </svg>
        <p class="loader-message">Loading, please wait...</p>
    </div>
</div>