@{
    ViewData["Title"] = "Chile Office";
    string mapUrl = "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4675.59334092707!2d-70.1378015!3d-20.1975658!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x915216b1398fa993%3A0x55138f23a059e091!2sAv.%20Arturo%20Prat%20Chac%C3%B3n%207%2C%20Iquique%2C%20Tarapac%C3%A1%2C%20Chile!5e0!3m2!1sen!2s!4v1710541234567";
}

<section class="search-wrapper pl-5 pr-5 py-3 my-3" style="border-top: 1px solid black;">
    <div class="row my-4 justify-content-between">
        <div class="col-12 col-md-5 col-sm-12 col-lg-5 mb-5" style="align-content: flex-end;">
            <h3 class="heading mb-3">Chile Office</h3>
            <div class="row flex-column justify-content-around align-items-center mt-4" style="height: 100%;">
                <div class="row">
                    <div class="d-flex justify-content-center align-items-center"
                         style="background-color: #000; width: 60px; height: 60px;">
                        <img src="../images/call.svg" />
                    </div>
                    <div class="pl-3">
                        <p class="textcolor mb-0">Phone:</p>
                        <p class="valuecolor mb-0">+56 9 8595 3796</p>
                    </div>
                </div>
                <div class="row">
                    <div class="d-flex justify-content-center align-items-center"
                         style="background-color: #000; width: 60px; height: 60px;">
                        <img src="../images/call.svg" />
                    </div>
                    <div class="pl-3">
                        <p class="textcolor mb-0">telephone:</p>
                        <p class="valuecolor mb-0">0056572411108</p>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="d-flex justify-content-center align-items-center"
                         style="background-color: #000; width: 60px; height: 60px;">
                        <img src="../images/message.svg" />
                    </div>
                    <div class="pl-3">
                        <p class="textcolor mb-0">Email us at:</p>
                        <p class="valuecolor mb-0">zujajahmian@gmail.com</p>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="d-flex justify-content-center align-items-center"
                         style="background-color: #000; width: 60px; height: 60px;">
                        <img src="../images/location.svg" />
                    </div>
                    <div class="pl-3 col-10">
                        <p class="textcolor mb-0">Address:</p>
                        <p class="valuecolor mb-0">
                            AV ARTURO PRAT MANZANA A,
                            Sitio 6, Sector 10, Zona Franca,
                            Iquique Chile.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-5 col-sm-12 col-lg-6">

                <iframe class="mt-5 ml-2"
                    src="@mapUrl"
                        width="700" height="280" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>         
        </div>
       

    </div>
    <div class="my-1" style="border-top: 1px solid #444;">
        <h3 class="heading my-3">Office Pictures</h3>
        <div class="row flex-wrap my-4">
            <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-4">
                <img src="../images/chile_office/img1.jfif" />
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-4">
                <img src="../images/chile_office/img2.jfif" />
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-4">
                <img src="../images/chile_office/img3.jfif" />
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-4">
                <img src="../images/chile_office/img4.jfif" />
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-4">
                <img src="../images/chile_office/img5.jfif" />
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-4">
                <img src="../images/chile_office/img6.jfif" />
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-4">
                <img src="../images/chile_office/img7.jfif" />
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-12  mb-4">
                <img src="../images/chile_office/img8.jfif" />
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-12  mb-4">
                <img src="../images/chile_office/img9.jfif" />
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-12  mb-4">
                <img src="../images/chile_office/img10.jfif" />
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-12  mb-4">
                <img src="../images/chile_office/img11.jfif" />
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-12  mb-4">
                <img src="../images/chile_office/img12.jfif" />
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-12  mb-4">
                <img src="../images/chile_office/img13.jfif" />
            </div>

        </div>
    </div>
</section>
