@{
    ViewData["Title"] = "FAQ";
}
<style>
    .faq-section {
        max-width: 900px;
        margin: auto;
        padding: 50px 20px;
    }

    .faq-title {
        font-weight: bold;
        color: #d9534f;
    }

    .faq-item {
        border-left: 5px solid #d9534f;
        background: #f8f9fa;
        margin-bottom: 10px;
        padding: 15px;
        border-radius: 5px;
    }
</style>
<section class="search-wrapper pl-5 pr-5 py-3 my-5" style="border-bottom: 1px solid black;">


        <div class="container faq-section">
            <h1 class=" text-danger">Frequently Asked Questions</h1>

            <div class="faq-item">
                <p class="faq-title">Q. Is it possible to buy a car for my personal use?</p>
                <p>A. Yes, but it is essential to verify your country’s import requirements, such as age restrictions, roadworthiness inspections, and customs duties, before placing an order. Certain vehicles may not be eligible for import.</p>
            </div>

            <div class="faq-item">
                <p class="faq-title">Q. Can I buy cars which are not listed on your website?</p>
                <p>A. Yes. If you are unable to find your desired vehicle, kindly inform us. We can locate a vehicle that meets your requirements, either from the Dealers' stock in Japan or from the Japan Auction.</p>
            </div>

            <div class="faq-item">
                <p class="faq-title">Q. Do you give any warranty for the vehicles?</p>
                <p>A. We don't give any warranty, but we give you all the information we have such as interior/exterior condition, mileage, and mechanical problems, so please feel free to ask us any time.</p>
            </div>

            <div class="faq-item">
                <p class="faq-title">Q. Do you accept cancellation?</p>
                <p>A. The deposit is refundable anytime before we get the car from the auction. But, all the costs (Ex; Inspection fee, Bidding fee, Bank charge) are deducted from the deposit. After we get your car, the deposit will not be refunded. If you cancel after we bought the vehicles and you made all the payments, 60% of the total payment is not refunded. After we confirm the shipment, no money will be refunded.</p>
            </div>

            <div class="faq-item">
                <p class="faq-title">Q. How do you send a car to my country?</p>
                <p>A. We send cars by "Ro/Ro Shipment". We do use "Container Shipment" on customer demand, so please understand that we can't send cars to some countries. Please let us know the Port of Discharge and Final Destination when you give us the first contact.</p>
            </div>

            <div class="faq-item">
                <p class="faq-title">Q. How long does it take me to receive my car?</p>
                <p>A. It takes about 1 to 3 weeks to book a space on a vessel. It depends on the destination and how long it takes to ship from Japan to your country.</p>
            </div>

            <div class="faq-item">
                <p class="faq-title">Q. How many used cars are normally available in your Inventory and auction?</p>
                <p>A. There are more than 1000 cars available for our customers to choose from.</p>
            </div>

            <div class="faq-item">
                <p class="faq-title">Q. What payment methods can be accepted by YRT?</p>
                <p>A. Kindly refer to the How to Pay tab to find all payment details. YRT only accepts bank transfers, at the moment PayPal is not a viable payment method.</p>
            </div>

            <div class="faq-item">
                <p class="faq-title">Q. Can I purchase LHD cars from YRT?</p>
                <p>A. Yes, you can find LHD vehicles in stock, if you are unable to find your desired vehicle, kindly inform us. We can locate a LHD vehicle that meets your requirements.</p>
            </div>

            <div class="faq-item">
                <p class="faq-title">Q. Do you inspect the cars before shipping?</p>
                <p>A. Yes, at YRT each vehicle is thoroughly inspected by the YRT Teams before shipping.</p>
            </div>

            <div class="faq-item">
                <p class="faq-title">Q. Does your staff inspect the cars before bidding?</p>
                <p>A. Yes, at YRT each vehicle is thoroughly inspected by the YRT Teams before bidding.</p>
            </div>

            <div class="faq-item">
                <p class="faq-title">Q. Is there any way to know an indicative bidding price for a vehicle I am interested in at an auction?</p>
                <p>A. The salesperson assigned to you can help you find an indicative bidding price for your desired vehicle.</p>
            </div>

            <div class="faq-item">
                <p class="faq-title">Q. When can I get the original B/L?</p>
                <p>A. The original B/L is dispatched via DHL along with other documents, once the entire payment has been cleared and the vehicle has been shipped. These documents can usually reach you within 10 working days. You will be sent a tracking ID for the following documents.</p>
                <ul>
                    <li>The Original Bill of Lading</li>
                    <li>Invoice</li>
                    <li>The Original De-registration Certificate</li>
                    <li>Inspection Certificate (Based on your demand and region)</li>
                    <li>Insurance Expiration Letter (Only if your order is CIF)</li>
                </ul>
            </div>

            <div class="faq-item">
                <p class="faq-title">Q. I have more questions about purchasing a car. Can you help me?</p>
                <p>A. You can send an inquiry and we will assign a salesperson to you, who can help solve all your problems regarding purchasing a car.</p>
            </div>
        </div>




</section>
