@{
    ViewData["Title"] = "Auction Calendar";
}
<section class="search-wrapper pl-md-5 pl-lg-5 pl-0 pr-lg-5 pr-md-5 pr-0" >
    <div class="row" style="border-top: 1px solid #000;">
        <div class="col-12 col-md-12 col-sm-12 col-lg-12 px-0 px-sm-3 " >
            <h3 class="heading my-4">Auction Calendar:</h3>
            <p class="mt-1 count-content2">
                YRT is a proud member of all the top and most reputable used car
                auctions across Japan. With access to prestigious auction houses, YRT ensures a wide selection of
                high-quality vehicles, offering customers reliable choices and competitive prices. This
                membership reflects YRT's commitment to excellence and customer satisfaction.
            </p>
        </div>
    </div>

    <div class="w-100">
        <div class="col-12 col-md-12 col-sm-12 col-lg-12 px-0 px-sm-3" >
            <h3 class="heading my-4">Japan Cars Auction Calendar:</h3>
            <div class="w-100">
                <!-- First Table -->
                <div class="col-lg-12 col-md-12 col-sm-12 table-responsive-mobile">
                    <table class="table bank-table table-bordered gap-table">
                        <thead class="thead-dark">
                            <tr>
                                <th class="head1 text-center">Monday</th>
                                <th class="head2 text-center">Tuesday</th>
                                <th class="head1 text-center">Wednesday</th>
                                <th class="head2 text-center">Thursday</th>
                                <th class="head1 text-center">Friday</th>
                                <th class="head2 text-center">Saturday</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="custom-bg-secondary text-center head3">Honda Hokkaido <br><b>Hokkaido</b></td>
                                <td class="custom-bg-light text-center head3">SAA Sapporo <br><b>Hokkaido</b></td>
                                <td class="custom-bg-secondary text-center head3">USS Sapporo <br><b>Hokkaido</b></td>
                                <td class="custom-bg-light text-center head3">Sapporo Nyusatsu <br><b>Hokkaido</b></td>
                                <td class="custom-bg-secondary text-center head3">JU Sapporo <br><b>Hokkaido</b></td>
                                <td class="custom-bg-light text-center head3">TAA Yokohama <br><b>Hokkaido</b></td>
                            </tr>
                            <tr>
                                <td class="custom-bg-secondary text-center head3">Honda Sendai <br><b>Tohoku</b></td>
                                <td class="custom-bg-light text-center head3">Tomakomai Nyusatsu <br><b>Hokkaido</b></td>
                                <td class="custom-bg-secondary text-center head3">JU Akita <br><b>Tohoku</b></td>
                                <td class="custom-bg-light text-center head3">TAA Hokkaido <br><b>Hokkaido</b></td>
                                <td class="custom-bg-secondary text-center head3">JU Miyagi <br><b>Tohoku</b></td>
                                <td class="custom-bg-light text-center head3">USS Gunma <br><b>Kanto</b></td>
                            </tr>
                            <tr>
                                <td class="custom-bg-secondary text-center head3">Honda Tokyo <br><b>Tohoku</b></td>
                                <td class="custom-bg-light text-center head3">ARAI Sendai <br><b>Tohoku</b></td>
                                <td class="custom-bg-secondary text-center head3">USS Niigata <br><b>Tohoku</b></td>
                                <td class="custom-bg-light text-center head3">ARAI Oyama <br><b>Kanto</b></td>
                                <td class="custom-bg-secondary text-center head3">JU Niigata <br><b>Tohoku</b></td>
                                <td class="custom-bg-light text-center head3">USS Shizuoka <br><b>Kanto</b></td>
                            </tr>
                            <tr>
                                <td class="custom-bg-secondary text-center head3">Honda Nagoya <br><b>Chubu</b></td>
                                <td class="custom-bg-light text-center head3">CAA Tohoku <br><b>Tohoku</b></td>
                                <td class="custom-bg-secondary text-center head3">Isuzu Makuhari <br><b>Kanto</b></td>
                                <td class="custom-bg-light text-center head3">JU Gunma <br><b>Kanto</b></td>
                                <td class="custom-bg-secondary text-center head3">USS Hokuriku <br><b>Tohoku</b></td>
                                <td class="custom-bg-light text-center head3">JU Gifu <br><b>Chubu</b></td>
                            </tr>
                            <tr>
                                <td class="custom-bg-secondary text-center head3">Honda Kansai <br><b>Kinki</b></td>
                                <td class="custom-bg-light text-center head3">JU Nagano <br><b>Tohoku</b></td>
                                <td class="custom-bg-secondary text-center head3">JU Ibaraki <br><b>Kanto</b></td>
                                <td class="custom-bg-light text-center head3">JU Kanagawa <br><b>Kanto</b></td>
                                <td class="custom-bg-secondary text-center head3">ARAI Bayside <br><b>Kanto</b></td>
                                <td class="custom-bg-light text-center head3">NAA Nagoya Nyusatsu <br><b>Chubu</b></td>
                            </tr>
                            <tr>
                                <td class="custom-bg-secondary text-center head3">Honda Kyusyu <br><b>Kyusyu</b></td>
                                <td class="custom-bg-light text-center head3">NPS Sendai Nyusatsu <br><b>Tohoku</b></td>
                                <td class="custom-bg-secondary text-center head3">ORIX Atsugi Nyusatsu <br><b>Kanto</b></td>
                                <td class="custom-bg-light text-center head3">TAA Kantou <br><b>Kanto</b></td>
                                <td class="custom-bg-secondary text-center head3">JU Chiba <br><b>Kanto</b></td>
                                <td class="custom-bg-light text-center head3">HAA Kobe <br><b>Kinki</b></td>
                            </tr>
                            <tr>
                                <td class="custom-bg-secondary text-center head3">Aucnet</td>
                                <td class="custom-bg-light text-center head3">ORIX Sendai <br><b>Tohoku</b></td>
                                <td class="custom-bg-secondary text-center head3">smap Tokyo Nyusatsu <br><b>Kanto</b></td>
                                <td class="custom-bg-light text-center head3">USS Tokyo <br><b>Kanto</b></td>
                                <td class="custom-bg-secondary text-center head3">JU Tochigi <br><b>Kanto</b></td>
                                <td class="custom-bg-light text-center head3">JU Nara <br><b>Kinki</b></td>
                            </tr>
                            <tr>
                                <td class="custom-bg-secondary text-center head3">LAA Challenge</td>
                                <td class="custom-bg-light text-center head3">CAA Tokyo <br><b>Kanto</b></td>
                                <td class="custom-bg-secondary text-center head3">CAA Chubu <br><b>Chubu</b></td>
                                <td class="custom-bg-light text-center head3">JU Aichi <br><b>Chubu</b></td>
                                <td class="custom-bg-secondary text-center head3">NAA Tokyo <br><b>Kanto</b></td>
                                <td class="custom-bg-light text-center head3">USS Okayama <br><b>Kinki</b></td>
                            </tr>
                            <tr>
                                <td class="custom-bg-secondary text-center head3">Aucnet</td>
                                <td class="custom-bg-light text-center head3">JU Saitama <br><b>Kanto</b></td>
                                <td class="custom-bg-secondary text-center head3">JU Ishikawa <br><b>Chubu</b></td>
                                <td class="custom-bg-light text-center head3">SAA Hamamatsu <br><b>Chubu</b></td>
                                <td class="custom-bg-secondary text-center head3">USS Saitama <br><b>Kanto</b></td>
                                <td class="custom-bg-light text-center head3">ARAI Oyama VT <br><b>Kanto</b></td>
                            </tr>

                            <tr>
                                <td class="custom-bg-secondary text-center head3">LAA Challenge</td>
                                <td class="custom-bg-light text-center head3">JU Shizuoka <br><b>Kanto</b></td>
                                <td class="custom-bg-secondary text-center head3">BAYAUC <br><b>Kinki</b></td>
                                <td class="custom-bg-light text-center head3">SLC Nagoya <br><b>Chubu</b></td>
                                <td class="custom-bg-secondary text-center head3">USS Nagoya <br><b>Chubu</b></td>
                                <td class="custom-bg-light text-center head3">NAA Tokyo Nyusatsu <br><b>Kanto</b></td>
                            </tr>
                            <tr>
                                <td class="custom-bg-secondary text-center head3">Honda Kyushu <br><b>Kyusyu</b></td>
                                <td class="custom-bg-light text-center head3">JU Yamanashi <br><b>Kanto</b></td>
                                <td class="custom-bg-secondary text-center head3">KAA Kyoto <br><b>Kinki</b></td>
                                <td class="custom-bg-light text-center head3">TAA Chubu <br><b>Chubu</b></td>
                                <td class="custom-bg-secondary text-center head3">Isuzu Kobe <br><b>Kinki</b></td>
                                <td class="custom-bg-light text-center head3">NAA Osaka Nyusatsu</td>
                            </tr>
                            <tr>
                                <td class="custom-bg-secondary text-center head3">AS</td>
                                <td class="custom-bg-light text-center head3">SLC Tokyo <br><b>Kanto</b></td>
                                <td class="custom-bg-secondary text-center head3">USS Kobe <br><b>Kinki</b></td>
                                <td class="custom-bg-light text-center head3">LAA Kansai <br><b>Kinki</b></td>
                                <td class="custom-bg-secondary text-center head3">USS Osaka <br><b>Kinki</b></td>
                                <td class="custom-bg-light text-center head3">NAA Nagoya Nyu <br><b>Chubu</b></td>
                            </tr>
                            <tr>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3">NPS Tokyo Nyusatsu <br><b>Kanto</b></td>
                                <td class="custom-bg-secondary text-center head3">LAA Shikoku <br><b>Kinki</b></td>
                                <td class="custom-bg-light text-center head3">NAA Osaka <br><b>Kinki</b></td>
                                <td class="custom-bg-secondary text-center head3">LAA Okayama <br><b>Kinki</b></td>
                                <td class="custom-bg-light text-center head3">AS</td>
                            </tr>
                            <tr>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3">NPS Tochigi Nyusatsu</td>
                                <td class="custom-bg-secondary text-center head3">JU Kumamoto <br><b>Kyusyu</b></td>
                                <td class="custom-bg-light text-center head3">SLC Kobe <br><b>Kinki</b></td>
                                <td class="custom-bg-secondary text-center head3">KCAA Yamaguchi <br><b>Tyuugoku Shikoku</b></td>
                                <td class="custom-bg-light text-center head3">JU Miyazaki <br><b>Kyusyu</b></td>
                            </tr>
                            <tr>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3">USS Yokohama <br><b>Kanto</b></td>
                                <td class="custom-bg-secondary text-center head3">KCAA Minami Kyushu <br><b>Kyusyu</b></td>
                                <td class="custom-bg-light text-center head3">Kobe Nyusatsu <br><b>Kinki</b></td>
                                <td class="custom-bg-secondary text-center head3">JU Fukuoka <br><b>Kyusyu</b></td>
                                <td class="custom-bg-light text-center head3">JU Yamagata <br><b>Tohoku</b></td>
                            </tr>
                            <tr>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3">CAA Gifu <br><b>Chubu</b></td>
                                <td class="custom-bg-secondary text-center head3">USS Fukuoka <br><b>Kyusyu</b></td>
                                <td class="custom-bg-light text-center head3">ZIP Osaka <br><b>Kinki</b></td>
                                <td class="custom-bg-secondary text-center head3">AS</td>
                                <td class="custom-bg-light text-center head3"></td>
                            </tr>
                            <tr>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3">JU Mie <br><b>Chubu</b></td>
                                <td class="custom-bg-secondary text-center head3">BCN <br><b>Kanto</b></td>
                                <td class="custom-bg-light text-center head3">JU Hiroshima <br><b>Tyuugoku Shikoku</b></td>
                                <td class="custom-bg-secondary text-center head3">Hino Hidata Nyusatsu</td>
                                <td class="custom-bg-light text-center head3"></td>
                            </tr>
                            <tr>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3">Nagoya Nyusatsu <br><b>Chubu</b></td>
                                <td class="custom-bg-secondary text-center head3">IAA Osaka <br><b>Kinki</b></td>
                                <td class="custom-bg-light text-center head3">Isuzu Kyushu <br><b>Kyusyu</b></td>
                                <td class="custom-bg-secondary text-center head3">Hino Kobe Nyusatsu <br><b>Kinki</b></td>
                                <td class="custom-bg-light text-center head3"></td>
                            </tr>
                            <tr>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3">NPS Gifu<br>Chubu</td>
                                <td class="custom-bg-secondary text-center head3">JAA<br>Kanto</td>
                                <td class="custom-bg-light text-center head3">KCAA Fukuoka<br>Kyusyu</td>
                                <td class="custom-bg-secondary text-center head3">Hino Hansha Nyusatsu</td>
                                <td class="custom-bg-light text-center head3"></td>
                            </tr>

                            <tr>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3">USS R-Nagoya<br>USS R-Nagoya</td>
                                <td class="custom-bg-secondary text-center head3">ORIX Atsugi<br>Kanto</td>
                                <td class="custom-bg-light text-center head3">SLCKobe<br>Kinki</td>
                                <td class="custom-bg-secondary text-center head3">BDS</td>
                                <td class="custom-bg-light text-center head3"></td>
                            </tr>
                            <tr>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3">ORIX Kobe Nyusatsu<br>ORIX Kobe</td>
                                <td class="custom-bg-secondary text-center head3">L-Up PKobeNyusatsu</td>
                                <td class="custom-bg-light text-center head3">Hanaten Osaka<br>Kinki</td>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3"></td>
                            </tr>
                            <tr>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3">TAA Kinki<br>Kinki</td>
                                <td class="custom-bg-secondary text-center head3">AS</td>
                                <td class="custom-bg-light text-center head3">Nagoya Nyusatsu</td>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3"></td>
                            </tr>
                            <tr>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3">TAA Shikoku<br>Kinki</td>
                                <td class="custom-bg-secondary text-center head3">BDS</td>
                                <td class="custom-bg-light text-center head3">Kobe Nyusatsu</td>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3"></td>
                            </tr>
                            <tr>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3">NPS Osaka Nyusatsu<br>NPS Osaka</td>
                                <td class="custom-bg-secondary text-center head3">KCAAMinami Kyushu<br>Kyusyu</td>
                                <td class="custom-bg-light text-center head3">L-Up Kobe</td>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3"></td>
                            </tr>
                            <tr>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3">NPS Osaka Nyusatsu<br>NPS Osaka</td>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3">AS</td>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3"></td>
                            </tr>
                            <tr>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3">TAA Hiroshima<br>Tyuugoku Shikoku</td>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3"></td>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3"></td>
                            </tr>
                            <tr>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3">NAA Fukuoka<br>Kyusyu</td>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3"></td>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3"></td>
                            </tr>
                            <tr>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3">NPS Fukuoka Nyusatsu<br>Kyusyu</td>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3"></td>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3"></td>
                            </tr>
                            <tr>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3">ORIX Fukuoka Nyusatsu<br>Kyusyu</td>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3"></td>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3"></td>
                            </tr>
                            <tr>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3">SLC Kyushu<br>Kyusyu</td>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3"></td>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3"></td>
                            </tr>

                            <tr>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3">SMAP Fukuoka Nyusatsu<br>Kyusyu</td>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3"></td>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3"></td>
                            </tr>
                            <tr>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3">TAA Kyushu</td>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3"></td>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3"></td>
                            </tr>
                            <tr>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3">TAA Min Kyushu<br>TAA Minami Kyushu</td>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3"></td>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3"></td>
                            </tr>
                            <tr>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3">SLC Kyusyu<br>Kyushu</td>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3"></td>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3"></td>
                            </tr>
                            <tr>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3">ORIX Sendai Nyusatsu<br>Tohoku</td>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3"></td>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3"></td>
                            </tr>
                            <tr>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3">JU Yamanashi<br>Kanto</td>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3"></td>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3"></td>
                            </tr>
                            <tr>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3">TAA Minamikyu</td>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3"></td>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3"></td>
                            </tr>
                            <tr>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3">SAKURA Nyusatsu</td>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3"></td>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3"></td>
                            </tr>
                            <tr>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3">NPS Gifu Nyusatsu</td>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3"></td>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3"></td>
                            </tr>
                            <tr>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3">SUAA Kantou</td>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3"></td>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3"></td>
                            </tr>

                            <tr>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3">SLC Tokyo Nyusatsu</td>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3"></td>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3"></td>
                            </tr>
                            <tr>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3">NPS Tochigi Nyusatsu<br>Kanto</td>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3"></td>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3"></td>
                            </tr>
                            <tr>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3">SLC Tokyo Nyusatsu</td>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3"></td>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3"></td>
                            </tr>
                            <tr>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3">L-Up PTokyoNyusatsu</td>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3"></td>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3"></td>
                            </tr>
                            <tr>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3">AEP Nyusatsu</td>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3"></td>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3"></td>
                            </tr>
                            <tr>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3">SLC Kyusyu Nyusatsu</td>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3"></td>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3"></td>
                            </tr>
                            <tr>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3">SAKURA Nyusatsu</td>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3"></td>
                                <td class="custom-bg-secondary text-center head3"></td>
                                <td class="custom-bg-light text-center head3"></td>
                            </tr>

                            <tr>
                                <td class="custom-bg-light text-center head3"></td>
                                <td class="custom-bg-light text-center head3"><strong>NPS Gifu Nyusatsu</strong></td>
                                <td class="custom-bg-light text-center head3"></td>
                                <td class="custom-bg-light text-center head3"></td>
                                <td class="custom-bg-light text-center head3"></td>
                                <td class="custom-bg-light text-center head3"></td>
                            </tr>
                            <tr>
                                <td class="custom-bg-light text-center head3"></td>
                                <td class="custom-bg-light text-center head3"><strong>AS</strong></td>
                                <td class="custom-bg-light text-center head3"></td>
                                <td class="custom-bg-light text-center head3"></td>
                                <td class="custom-bg-light text-center head3"></td>
                                <td class="custom-bg-light text-center head3"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="w-100">
        <div class="col-12 col-md-12 col-sm-12 col-lg-12 pr-3 px-lg-0 px-md-0 pl-0 pl-sm-0 pr-sm-3">
            <p class="mt-1 mb-5 border-bottom-custom2"></p>
        </div>
    </div>

    <div class="w-100 text-center mb-5 px-lg-5 px-md-5 pr-4 d-flex justify-content-between flex-wrap">
        <a asp-area="Customer" asp-controller="Contact" asp-action="Index" style="--btn-bg:#D60000"
           class="btn globalbtn w-100 d-flex align-items-center justify-content-center mt-2">Contact Us</a>
        <a asp-area="Customer" asp-controller="WhyYrt" asp-action="Index" style="--btn-bg:#D60000"
           class="btn globalbtn w-100 d-flex align-items-center justify-content-center mt-2">
            Why Choose
            US
        </a>

        <a asp-area="Customer" asp-controller="OurStaff" asp-action="Index" style="--btn-bg:#D60000"
           class="btn globalbtn w-100 d-flex align-items-center justify-content-center mt-2 ">Our Staff</a>

    </div>
</section>