@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<section class="search-wrapper pl-5 pr-5 py-3 my-5">
    <div class="row my-4 justify-content-between">
        <div class="col-12 col-md-5 col-sm-12 col-lg-5">
            <h3 class="heading">Forget Password</h3>
            <form class="my-5" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div>
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span class="text-danger" style="font-size: 20px;">*</span>
                    <div>
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Type your login id here" style="height: 53px;" />
                    </div>
                </div>
                <div class="mt-4">
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="mt-4">
                    <button type="submit" class="btn btn-theme" style="width: 50%;">Submit Now</button>
                </div>
            </form>
        </div>
        <div class="col-12 col-md-6 col-sm-12 col-lg-6">
            <h3 class="heading">More Information</h3>
            <div class="row justify-content-around">
                <a asp-page="./Register" class="btn btn-theme col-5 d-flex flex-column justify-content-center" style="background: #000000;height: 80px;">Not Member <br /><span style="font-weight: 700; font-size: 18px;">Register now</span></a>
                <a id="forgot-password" asp-page="./ForgotPassword" class="btn btn-theme d-flex flex-column justify-content-center col-5" style="height: 80px;">forgot password?<br /><span style="font-weight: 700; font-size: 18px;">Reset now</span></a>
            </div>
            <div class="row justify-content-around mt-4">
                <a asp-area="Customer" asp-controller="GeneralInquiries" asp-action="Index" class="btn btn-theme col-5 d-flex flex-column justify-content-center" style="height: 80px;">need help <br /><span style="font-weight: 700; font-size: 18px;">Contact us</span></a>
                <a asp-area="Customer" asp-controller="SalesInquiry" asp-action="Index" class="btn btn-theme col-5 d-flex flex-column justify-content-center" style="background: #000000;height: 80px;">inquiry about car?<br /><span style="font-weight: 700; font-size: 18px;">Contact us</span></a>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
