@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<section class="search-wrapper pl-5 pr-5 py-3 my-5">
    <div class="row my-4 justify-content-between">
        <div class="col-12 col-md-5 col-sm-12 col-lg-5">
            <h3 class="heading">@ViewData["Title"]</h3>
            <p>
                Please check your email to reset your password.
            </p>
        </div>
    </div>
</section>
