@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}


<section class="search-wrapper pl-5 pr-5 py-3 my-5">
    <div class="row my-4 justify-content-between">
        <div class="col-12 col-md-5 col-sm-12 col-lg-5">
            <h3 class="heading">@ViewData["Title"]</h3>
            <form class="my-5" id="account" class="row" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <input asp-for="Input.Code" type="hidden" />
                <div>
                    <label asp-for="Input.Email" class="label">Email</label>
                    <span class="text-danger" style="font-size: 20px;">*</span>
                    <div>
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" style="height: 53px;" />
                    </div>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="mt-4">
                    <label asp-for="Input.Password" class="label">Password</label>
                    <span class="text-danger" style="font-size: 20px;">*</span>
                    <div class="input-group">
                        <input id="password" asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please enter your password." style="height: 53px; border-right: 0px;" />
                        <div class="input-group-append">
                            <span class="input-group-text" onclick="togglePasswordVisibility()" style="cursor: pointer; border: 1px solid black; background-color:#EFEFEF">
                                <i id="toggleEye" class="fa fa-eye-slash"></i>
                            </span>
                        </div>
                    </div>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="mt-4">
                    <label asp-for="Input.ConfirmPassword" class="label">Confirm Password</label>
                    <span class="text-danger" style="font-size: 20px;">*</span>
                    <div class="input-group">
                        <input id="confirmPassword" asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please confirm your password." style="height: 53px; border-right: 0px;" />
                        <div class="input-group-append">
                            <span class="input-group-text" onclick="toggleConfirmPasswordVisibility()" style="cursor: pointer; border: 1px solid black; background-color:#EFEFEF">
                                <i id="toggleEyeConfirm" class="fa fa-eye-slash"></i>
                            </span>
                        </div>
                    </div>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="mt-4">
                    <button type="submit" class="btn btn-theme" style="width: 50%;">Reset</button>
                </div>
            </form>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
