@{
    ViewData["Title"] = "Bank Info";
}

<section class="search-wrapper my-3 py-3 pl-5 pr-5" style="border-top: 1px solid #000;">
    <div class="row ">
        <div class="col-12 col-md-12 col-sm-12 col-lg-12 px-0 px-sm-3">
            <h3 class="heading my-4">BANK ACCOUNT:</h3>
            <div class="row">
                <table class="table bank-table table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th class="head1">Account Title</th>
                            <th class="head2">YR TRADING CO. LTD.</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="custom-bg-light">Account No.</td>
                            <td class="custom-bg-secondary">4086400</td>
                        </tr>
                        <tr>
                            <td class="custom-bg-secondary">Bank Name</td>
                            <td class="custom-bg-light">SUMITOMO MITSUI BANKING CORPORATION</td>
                        </tr>
                        <tr>
                            <td class="custom-bg-light">Bank Branch</td>
                            <td class="custom-bg-secondary">OTA Branch</td>
                        </tr>
                        <tr>
                            <td class="custom-bg-secondary">Swift Code</td>
                            <td class="custom-bg-light">SMBCJPJT</td>
                        </tr>
                    </tbody>
                </table>

            </div>


        </div>

    </div>
    <div class="row ">
        <div class="row ">
            <div class="col-12 col-md-12 col-sm-12 col-lg-12 px-0 px-sm-3">
                <h3 class="heading my-4 responsive-heading">TERMS AND CONDITIONS:</h3>
                <p class="mt-1 mb-4 count-content">
                    <span class="Count">01-</span>&nbsp; &nbsp;All Customer payments shall be made through Telegraphic Transfer (TT) or PayPal, according to the Country's prevailing Regulations.
                </p>
            </div>
        </div>
        <div class="row ">
            <div class="col-12 col-md-12 col-sm-12 col-lg-12 px-0 px-sm-3">
                <p class="mt-1 mb-4 count-content">
                    <span class="Count">02-</span>&nbsp; &nbsp;Customer shall state the Proforma Invoice No. as a reference for payment in the information area of the TT/SWIFT application.
                </p>
            </div>
        </div>
        <div class="row ">
            <div class="col-12 col-md-12 col-sm-12 col-lg-12 px-0 px-sm-3">
                <p class="mt-1 mb-4 count-content">
                    <span class="Count">03-</span>&nbsp; &nbsp;The proof of payment shall be emailed by the Customer to YRT Japan, which would be verified and receipted on realization of funds.
                </p>
            </div>
        </div>
        <div class="row ">
            <div class="col-12 col-md-12 col-sm-12 col-lg-12 px-0 px-sm-3">
                <p class="mt-1 mb-4 count-content">
                    <span class="Count">04-</span>&nbsp; &nbsp;If the Deposit/Payment is not made within the given Reservation Period of seven (07) working days or as per agreed Terms, the Exporter reserves the right to sell the vehicle to another customer.
                </p>
            </div>
        </div>
        <div class="row ">
            <div class="col-12 col-md-12 col-sm-12 col-lg-12 px-0 px-sm-3">
                <p class="mt-1 mb-4 count-content">
                    <span class="Count">05-</span>&nbsp; &nbsp;The Issuing & Correspondence Bank charges shall be paid by the Customer.
                </p>
            </div>
        </div>
        <div class="row ">
            <div class="col-12 col-md-12 col-sm-12 col-lg-12 px-0 px-sm-3">
                <p class="mt-1 mb-4 count-content">
                    <span class="Count">06-</span>&nbsp; &nbsp;The estimated shipment date would take place within three (03) weeks, after confirmation of satisfactory receipt of Customer Payment.
                </p>
            </div>
        </div>
        <div class="row ">
            <div class="col-12 col-md-12 col-sm-12 col-lg-12 px-0 px-sm-3">
                <p class="mt-1 mb-4 count-content">
                    <span class="Count">07-</span>&nbsp; &nbsp;Any amendment request for BL after shipment instruction shall incur USD 50 on each such adjustment, charged to the Customer.
                </p>
            </div>
        </div>
        <div class="row ">
            <div class="col-12 col-md-12 col-sm-12 col-lg-12 px-0 px-sm-3">
                <p class="mt-1 mb-4 count-content">
                    <span class="Count">08-</span>&nbsp; &nbsp;On settlement of the full amount, the Original Shipping Documents for Customs Clearance purposes shall be couriered/surrendered to the Customer.
                </p>
            </div>
        </div>
        <div class="row ">
            <div class="col-12 col-md-12 col-sm-12 col-lg-12 px-0 px-sm-3">
                <p class="mt-1 mb-4 count-content">
                    <span class="Count">09-</span>&nbsp; &nbsp;Customer should settle timeously, and Customer shall not hold YRT Japan responsible for any delay, arising from the payment delays, nor for any penalties incurred therewith.
                </p>
            </div>
        </div>
        <div class="row ">
            <div class="col-12 col-md-12 col-sm-12 col-lg-12 px-0 px-sm-3">
                <p class="mt-1 mb-4 count-content">
                    <span class="Count">10-</span>&nbsp; &nbsp;Should there be any delay of payment or shipment confirmation on the part of the Customer, additional Yard Fees would be charged to the Customer at JPY 25000 / per week, and translated to USD at the prevailing rate.
                </p>
            </div>
        </div>
        <div class="row ">
            <div class="col-12 col-md-12 col-sm-12 col-lg-12 px-0 px-sm-3">
                <p class="mt-1 mb-4 count-content">
                    <span class="Count">11-</span>&nbsp; &nbsp;Full Payments are to be made 10 days before the arrival of the ship. If the full payment is not made 10 days prior to the arrival of the ship to the designated port, the supplier reserves the right to change the consignee to their local agent without prior consent and will be charged a penalty to the original consignee. (REMEMBER SOFT COPIES OF ALL THE DOCUMENTS like EXPORT <b>CERTIFICATE, TRANSLATION, INSPECTION (if any)</b> will not be provided before the 100% of the payment.)
                </p>
            </div>
        </div>
    </div>


    <div class="w-100 text-center mb-5 px-lg-5 px-md-5 pr-4 d-flex justify-content-between flex-wrap">
        <a asp-area="Customer" asp-controller="Contact" asp-action="Index" style="--btn-bg:#D60000"
           class="btn globalbtn w-100 d-flex align-items-center justify-content-center mt-2">Contact Us</a>
        <a asp-area="Customer" asp-controller="WhyYrt" asp-action="Index" style="--btn-bg:#D60000"
           class="btn globalbtn w-100 d-flex align-items-center justify-content-center mt-2">
            Why Choose
            US
        </a>

        <a asp-area="Customer" asp-controller="OurStaff" asp-action="Index" style="--btn-bg:#D60000"
           class="btn globalbtn w-100 d-flex align-items-center justify-content-center mt-2 ">Our Staff</a>

    </div>
</section>
