<form class="my-1 p-sm-3 p-lg-3 p-3 d-flex flex-column justify-content-center align-items-center contact-form" id="askForm" style="background-color: #F7F7F7;">
    <div class="row flex-wrap justify-content-between">
        <input type="text" id="askTxtMake" class="form-control" required style="height: 53px; width: 48%;" disabled readonly>
        <input type="text" id="askTxtModel" class="form-control" required style="height: 53px;width: 48%;" disabled readonly>
    </div>
    <div class="row justify-content-between mt-3">
        <input type="text" id="skTxtYear" class="form-control" style="height: 53px" disabled readonly>
    </div>
    <div class="row justify-content-between mt-3">
        <input type="text" id="askTxtName" class="form-control" maxlength="30" min="5" placeholder="Name *" style="height: 53px">
    </div>
    <div class="row justify-content-between mt-3">
        <input type="email" id="asktxtEmail" class="form-control" maxlength="30" min="5" placeholder="Your Email *" style="height: 45px">
    </div>
    <div class="row justify-content-between mt-3">
        <input type="number" id="askTxtPhone" class="form-control" maxlength="20" min="5" placeholder="Phone *" style="height: 53px">
    </div>
    <div class="row justify-content-between mt-3">
        @await Component.InvokeAsync("CountriesDropdown", new
            {
                selectId = "askForCountry",
                selectName = "final-country",
                selectStyle = "height:65px !important;",
                isSelect2 = false
            })
    </div>
    <input type="hidden" id="hdfMake" value=""/>
    <input type="hidden" id="hdfModel" value=""/>
    <input type="hidden" id="hdfYear" value=""/>
    <div class="mt-3 row justify-content-between">
        <button type="submit" id="btnAskForPrice" class="btn btn-theme" style="width: 60%; --bg-color: #d60000;">Ask For Price</button>
    </div>
</form>

