@{
    ViewData["Title"] = "Export Information";
}
<section class="search-wrapper my-3 py-3 pl-5 pr-5" style="border-top: 1px solid #000;">
    <div class="row ">
        <div class="col-12 col-md-12 col-sm-12 col-lg-12 px-0 px-sm-3">
            <h3 class="heading my-4 responsive-heading">STANDARD TERMS OF TRADE:</h3>
            <p class="mt-1 mb-4 count-content">
                <SPan class="Count">01-</SPan>&nbsp; &nbsp;Unless specified
                otherwise, vehicle reservations last for
                three business days. A deposit of at least 50% is required within this time; otherwise, the
                order will be automatically canceled.
            </p>
        </div>
    </div>
    <div class="row ">
        <div class="col-12 col-md-12 col-sm-12 col-lg-12 px-0 px-sm-3">
            <p class="mt-1 mb-4 count-content">
                <SPan class="Count">02-</SPan>&nbsp; &nbsp;Shipping will
                commence once the deposit, as agreed between the customer and YRT, has been received.
            </p>
        </div>
    </div>
    <div class="row ">
        <div class="col-12 col-md-12 col-sm-12 col-lg-12 px-0 px-sm-3">
            <p class="mt-1 mb-4 count-content">
                <SPan class="Count">03-</SPan>&nbsp; &nbsp;After receiving full
                payment, we will send all necessary documents via courier (DHL).
        </div>
    </div>
    <div class="row ">
        <div class="col-12 col-md-12 col-sm-12 col-lg-12 px-0 px-sm-3">
            <p class="mt-1 mb-4 count-content">
                <SPan class="Count">04-</SPan>&nbsp; &nbsp;We accept Letters of
                Credit at Sight from selected countries.
            </p>
        </div>
    </div>
    <div class="row ">
        <div class="col-12 col-md-12 col-sm-12 col-lg-12 px-0 px-sm-3">
            <p class="mt-1 mb-4 count-content2">
                <SPan class="Count">05-</SPan>&nbsp; &nbsp;A scanned TT copy
                will be required post-payment to avoid delays in shipping or document preparation.
            </p>
        </div>
    </div>



    <div class="row mt-3">
        <div class="col-12 col-md-12 col-sm-12 col-lg-12 px-0 px-sm-3 ">
            <h3 class="heading my-4 cus-head">SHIPPING TERMS:</h3>
            <p class="heading my-4 cus-p">FOB: FREE-ON-BOARD:</p>
            <p class="mt-1 mb-5 border-bottom-custom3">
                The vehicle price does not include ocean freight costs.
                When purchasing at the FOB price, it only covers the vehicle cost and expenses up to the point
                of loading it onto the ship in Japan.
            </p>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 col-md-12 col-sm-12 col-lg-12 px-0 px-sm-3 ">
            <h3 class="heading my-4 cus-head">CFR: COST AND FRIEGHT:</h3>
            <p class="heading my-4 cus-p">CIF: COST, INSURANCE AND FREIGHT:</p>
            <p class="mt-1 mb-5 border-bottom-custom3">
                The vehicle price includes all costs incurred in Japan
                and during ocean freight. If you require vehicle insurance let us know, and we will assist you.
            </p>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 col-md-12 col-sm-12 col-lg-12 px-0 px-sm-3 ">
            <p class="heading my-4 cus-p">T.T: TELEGRAPHIC TRANSFER / WIRE TRANSFER:</p>
            <p class="mt-1 mb-5 border-bottom-custom3">
                Telegraphic Transfer is the best payment method. It is
                the quickest, safest, and most efficient way to send money. You can make a transfer through most
                major banks.
            </p>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 col-md-12 col-sm-12 col-lg-12 px-0 px-sm-3 ">
            <p class="heading my-4 cus-p">L/C: LETTER OF CREDIT:</p>
            <p class="mt-1 mb-5 border-bottom-custom4">
                We accept Letters of Credit at sight from selected
                countries. Please consult your nearest bank for details regarding the document.
            </p>
        </div>
    </div>

    </div>
</section>